---
// src/pages/certifications.astro
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import CertificationsSection from "../components/CertificationsSection.astro";
import { certificationsData } from "../data/certificationsData";

const { title } = certificationsData;
---

<Layout title={title}>
  <main class="w-full min-h-screen">
    <CertificationsSection showFilters={true} align="left" />
  </main>
  <Footer />
</Layout>
