---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Volunteer from "../components/Volunteer.astro";
import TimelineSection from "../components/TimelineSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Yasith Tharuka | Portfolio">
	<main class="w-full">
		<Hero />
		<Volunteer limit={5} showViewMore={true} />
		<TimelineSection limit={8} isHomePage={true} />
	</main>
	<Footer />
</Layout>
