---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Yasith Tharuka | Portfolio">
	<main class="w-full">
		<Hero />
	</main>
	<Footer />
</Layout>
