---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import TimelineSection from "../components/TimelineSection.astro";

const title = "Timeline Journey | Yasith Tharuka";
---

<Layout title={title}>
  <main class="w-full min-h-screen bg-[#FAFAFC]">
    <TimelineSection />
  </main>
  <Footer />
</Layout>
